/* filename: pacific.css */
/* coded by: Josh McKibben */

body { background-color: #FFFFFF; 
       background-image: url(ptrbackground.jpg); 
       color: #666666; 
       font-family: Verdana, Arial, sans-serif; 
}

h1 { background-color: #000033; 
     background-image: url(sunset.jpg); 
     background-position: right; 
     background-repeat: no-repeat; 
     padding-left: 20px; 
     height: 72px; 
     color: #FFFFFF; 
     font-family: Georgia, serif; 
     line-height: 200%; 
     margin-bottom: 0; 
}

h2 { color: #3399CC; 
     font-family: Georgia, serif; 
}

h3 { color: #000033; 
}

dt { color: #000033; 
}

/* Configure Resort Name */
.resort { color: #000033; 
          font-size: 1.2em; 
}

/* Configure Content */
#content { padding-left: 20px; 
           padding-right: 20px; 
}

/* Configure Navigation */
#nav { background-color: #90C7E3; 
       font-weight: bold; 
       padding: 5px; 
}

/* Configure Footer */
#footer { font-size: .70em; 
          font-style: italic; 
          text-align: center; 
          padding: 10px; 
}

/* Configure Page */
#wrapper { background-color: #FFFFFF; 
           min-width: 700px; 
           -webkit-box-shadow: 5px 5px 5px #828282; 
           -moz-box-shadow: 5px 5px 5px #828282; 
           box-shadow: 5px 5px 5px #828282; 
           width:80%; 
           margin-left: auto; 
           margin-right: auto; 
}